@use '../design-tokens/typography';

html,
body {
  background-color: gray;
  color: white;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

* {
  font-family: 'Inter Regular';
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.5em;
}
